@model DA_QLNhanSu.Models.SalaryHistory

@{
    ViewData["Title"] = "Chi tiết lịch sử lương";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1 class="text-center text-primary mb-4">Chi tiết lịch sử lương</h1>

<div class="card shadow-lg">
    <div class="card-header bg-info text-white">
        <h4>@Model.IdeNavigation.Name</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <!-- Cột trái hiển thị ảnh -->
            <div class="col-md-4 text-center">
                <img src="@Model.IdeNavigation.Image" alt="@Model.IdeNavigation.Name" class="img-fluid rounded border shadow-sm" style="max-width: 250px;">
            </div>

            <!-- Cột phải hiển thị thông tin -->
            <div class="col-md-8">
                <dl class="row">
                    <dt class="col-sm-4 ">Tên nhân sự</dt>
                    <dd class="col-sm-8 fw-bold">@Html.DisplayFor(model => model.IdeNavigation.Name)</dd>

                    <dt class="col-sm-4">Chức vụ</dt>
                    <dd class="col-sm-8">@Model.IdeNavigation?.IdpNavigation?.Name</dd>
                    <dt class="col-sm-4">Phòng ban</dt>
                    <dd class="col-sm-8">@Model.IdeNavigation?.IddNavigation?.Name</dd>
                    <dt class="col-sm-4">Trình độ học vấn</dt>
                    <dd class="col-sm-8">@Model.IdeNavigation?.IdqNavigation?.Name</dd>
                    <dt class="col-sm-4">Mã nhân sự</dt>
                    <dd class="col-sm-8">@Model.IdeNavigation?.Code</dd>
                    <dt class="col-sm-4">Lương cơ bản</dt>
                    <dd class="col-sm-8">@string.Format(new System.Globalization.CultureInfo("vi-VN"), "{0:C0}", Model.Salary)</dd>
                    <dt class="col-sm-4">Ngày áp dụng</dt>
                    <dd class="col-sm-8">@(Model.EffectiveDate?.ToString("dd/MM/yyyy"))</dd>
                    <dt class="col-sm-4">Ghi chú</dt>
                    <dd class="col-sm-8">@Html.DisplayFor(model => model.Note)</dd>
                    
                </dl>
            </div>
        </div>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary me-2">
            <i class="bi bi-pencil-square"></i> Chỉnh sửa
        </a>
        <a asp-action="Index" class="btn btn-secondary">
            <i class="bi bi-arrow-left"></i> Quay lại danh sách
        </a>
    </div>
</div>

