@model DA_QLNhanSu.Models.Contract

@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Contract</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SigningDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SigningDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Content)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Content)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContractDuration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContractDuration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyWage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyWage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdeNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdeNavigation.Ide)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdpNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdpNavigation.Idp)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
