@model IEnumerable<DA_QLNhanSu.Models.Overtime>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WorkingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaryCoeficient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HourlyWage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OvertimePay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdeNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SalaryCoeficient)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HourlyWage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OvertimePay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdeNavigation.Ide)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ido">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ido">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ido">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
