@model IEnumerable<DA_QLNhanSu.Models.Employee>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Birthday)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cccd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Idp)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.Idd1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IddNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdqNavigation)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gender)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Birthday)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cccd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Idp)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.Idd1.Idp)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IddNavigation.Idd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdqNavigation.Idq)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Ide">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Ide">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Ide">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
