@model X.PagedList.IPagedList<DA_QLNhanSu.Models.SalaryCalculation>
@using X.PagedList.Mvc.Core;
@using System.Text.RegularExpressions;
@{
    ViewData["Title"] = "Quản lí lương";
    Layout = "~/Areas/Admins/Views/Shared/_LayoutAdmin.cshtml";
}
<h1 class="text-primary">Quản lý lương nhân viên</h1>
<div class="row my-4">
    <form action="" method="post" class="form-inline col-md-8">
        <div class="input-group w-100">
            <input class="form-control" name="name" id="keyword" placeholder="Nhập tên cần tìm..." />
            <button type="submit" class="btn btn-primary">
                <i class="fas fa-search"></i> Tìm kiếm
            </button>
        </div>
    </form>
    <div class="col-md-4 text-md-right mt-2 mt-md-0">
        <a asp-action="Create" class="btn btn-success">
            <i class="bi bi-plus-circle"></i> Tạo mới
        </a>
    </div>
</div>

<table class="table table-striped table-hover table-bordered">
    <thead class="table-primary text-center">
        <tr>
            <th>
                Tên nhân viên
            </th>
            <th>
                Tháng
            </th>
            <th>
                Năm
            </th>
            <th>
                Số ngày làm
            </th>
            <th>
                Số tiền hằng ngày
            </th>
            <th>
                Phụ cấp
            </th>
            <th>
                Tăng ca
            </th>
            <th>
                Chức vụ
            </th>
            <th>
                Ứng lương
            </th>
            <th>
                Tổng lương
            </th>
            <th>
                Ngày tạo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdeNavigation.Name)  @* Hiển thị tên nhân viên *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Month)  @* Hiển thị tháng *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Year)  @* Hiển thị năm *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Workday)  @* Hiển thị số ngày làm *@
                </td>
                <td>
                    @item.IdPositionNavigation?.DailyWage  @* Hiển thị tiền lương hằng ngày *@
                </td>
                <td>
                    @item.IdEmployeeallowanceNavigation?.Money  @* Hiển thị phụ cấp *@
                </td>
                <td>
                    @item.IdOvertimeNavigation?.OvertimePay  @* Hiển thị tiền tăng ca *@
                </td>
                <td>
                    @item.IdPositionNavigation?.Name  @* Hiển thị chức vụ *@
                </td>
                <td>
                    @item.IdSalaryadvanceNavigation?.Money  @* Hiển thị tiền ứng lương *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalSalary)  @* Hiển thị tổng lương *@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)  @* Hiển thị ngày tạo *@
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Ids" class="btn btn-warning btn-sm">
                        <i class="bi bi-pencil-square"></i> Sửa
                    </a>
                    <a asp-action="Details" asp-route-id="@item.Ids" class="btn btn-info btn-sm">
                        <i class="bi bi-eye"></i> Chi tiết
                    </a>
                    <a asp-action="Delete" asp-route-id="@item.Ids" class="btn btn-danger btn-sm">
                        <i class="bi bi-trash"></i> Xóa
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
<div class="mt-3">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }), new X.PagedList.Web.Common.PagedListRenderOptions
{
    LiElementClasses = new string[] { "page-item" },
    PageClasses = new string[] { "page-link" }
})
</div>
